$white: #fff;
$black: #000;

$text-color-dark: #18181B;
$text-color-dark-medium: #737373;
$text-color-light: #FFFFFF;
$text-color-accent: #0057FF;

$main-color: #0057FF;
$accent-color: #0057FF;
$accent-color-2: #18181B;

$gradient: linear-gradient(72.77deg, #EDEEF6 11.72%, rgba(237, 238, 246, 0) 98.52%);