.header {
    margin: 30px 0;
    & .flex {
        justify-content: space-between;
    }
}

@include tablet-up {
    .header {
        .logo {
            align-items: center;
            display: inline-flex;
        }
    }
}